/*media queries*/

@mixin section-padding {
  padding: 10vh 0;
  @media (min-width: 768px) { 
    padding: 20vh 0;
  }
}



/*variables*/

:root {
	--theme-color: #9ce2e1;
	--link-color: #ff6060;
	--header-font: 'Fugaz One';
	--content-font: 'Antic';
	--link-highlight: #9ce2e1;
}


/*main styles*/

h1, h2, h3 {
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
}


nav.main-nav ul {
	width: 600px;
	margin: 30px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	opacity: 0;
	animation: 1s fadein 0.5s forwards;
	padding: 0;
	text-align: center;
	font-family: var(--content-font);
}


@keyframes fadein {
	100% {
	opacity: 1;
	}
}

nav a {
	color: var(--link-color);
	text-decoration: none;
	font-size: 1.1em;
	opacity: 0.75;
}

nav a:hover {
	background-color: var(--theme-color);
	opacity: 1;
	transition-duration: .5s;
}


.banner {
	background: var(--theme-color);
	font-family: var(--header-font);
	font-size: 1.6em;
	text-align: center;
	opacity: 0;
	animation: .5s slidefade .5s forwards;
	padding: 100px 0 160px;
}

.content {
	width: 760px;
	margin: 0 auto;
	position: relative;
	top: -100px;
	padding: 40px 60px;
	font-family: var(--content-font);
	background: #fff;
	box-shadow: 12px 12px 2px 1px grey;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

.spot{
    margin: 0 40px 80px;
    text-align: center;
}

.spot h2{
    color: var(--theme-color);
}

.spot p{
    color: #333;
    line-height: 2em;
    font-size: 0.9em
}

.content a{
    color: var(--link-color);
    font-size: 1.2em;
    text-decoration: none;
}

.content a:hover {
	background-color: var(--theme-color);
	transition-duration: .5s;
}

.testimonials {
	width: 760px;
	margin: 0 auto;
	position: relative;
	top: -100px;
	padding: 40px 60px;
	font-family: var(--content-font);
	background: #fff;
}

.testimonials h2 {
	 margin: 0 40px 80px;
    text-align: center;
    color: var(--theme-color);
}

footer{
    background: var(--theme-color);
    padding: 60px 0
}

footer .blurbs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
    font-family: var(--content-font);
    margin: 0 auto;
    grid-gap: 40px;
}

footer .blurb{
    text-align: center;
    color: #333;
    line-height: 2em;
    font-size: 0.9em
}

footer a {
	color: var(--link-color);
	text-decoration: none;

}

















