body {
  max-width: 800px;

}

#main .hero.hero-top{
  background-color: #A6D4EB;
}

#main .top-text{
  background-color: #135182;
}

#main .top-text img.down-arrows {
  width: 23px;
  height: auto;
  position: relative;
}

#main .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main .text-center {
  text-align: center;
}

#main p.helper {
  font-size: 17px;
  font-style: italic;
  margin-bottom: 3px;

}

#main .hero {
  background-color: #8DCECF;
  color: #135182;
  padding-top: 18px;
  text-align: center;
}

.container-fluid hero > h2 {
  color: #135182;
}
