.home {
  background-image: url('https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/554184_621468064560924_744051908_n.jpg?oh=837dda02d74a2db38b0d8b5097093234&oe=5A2B39BD');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.jumbo {
  font-family: 'Creepster';
  text-align: center;
  margin: 30px;
  color: #ffab5e;
  font-size: 350%;
}

.nav {
  font-family: 'Creepster';
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 200%;
}

.upcoming {
  font-family: 'Creepster';
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 150%;
  color: #ffab5e;
  text-align: center;
}

.shows {
  background-image: url('https://i.ytimg.com/vi/bZ6b5ghZZN0/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.contact {
  background-image: url('https://scontent-sjc2-1.xx.fbcdn.net/v/t31.0-8/10644535_796565673717828_5934702993930925951_o.jpg?oh=832f2ea563b45f194b3fef543b96e0c2&oe=59EECE31');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.about {
  background-image: url('https://scontent-sjc2-1.xx.fbcdn.net/v/t31.0-8/14884562_1358097660897957_438745634446513186_o.jpg?oh=51ba03b2dfc9ba7a4b6ea572934cb46c&oe=5A3189E8');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-family:'Creepster';
  padding: 10px;
  margin: 10px;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: #ffab5e;
}
a:hover {
  color: #ffadad;
}
